<!-- <div class="jumbotron">
    <h1 class="display-4">ॐ नमः शिवाय</h1>
    <p class="lead">ॐ नमः शिवाय ॐ नमः शिवाय ॐ नमः शिवाय ॐ नमः शिवाय</p>
    <hr class="my-4">

    <ul class="list-group" *ngFor="let item of shivStutieObj; index as i">
        <li class="list-group-item" (click)="listItemClick(i)">{{item.listkey}}</li>
    </ul>

</div> -->

<main role="main">

    <!-- carousel -->
    <!-- <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <a href="https://bootstrapcreative.com/">
                    <picture>
                        <source srcset="https://shivayblog.files.wordpress.com/2017/06/s1.jpg"
                            media="(min-width: 1400px)">
                        <source srcset="https://dummyimage.com/1400x500/#007aeb/4196e5" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image"
                            class="d-block img-fluid">
                    </picture> -->

                    <!-- <div class="carousel-caption">
                        <div>
                            <h2>Digital Craftsmanship</h2>
                            <p>We meticously build each site to get results</p>
                            <span class="btn btn-sm btn-outline-secondary">Learn More</span>
                        </div>
                    </div> -->
                <!-- </a>
            </div> -->
            <!-- /.carousel-item -->
            <!-- <div class="carousel-item">
                <a href="https://bootstrapcreative.com/">
                    <picture>
                        <source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
                        <source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image"
                            class="d-block img-fluid">
                    </picture>
 -->
                    <!-- <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>Every project begins with a sketch</h2>
                            <p>We work as an extension of your business to explore solutions</p>
                            <span class="btn btn-sm btn-outline-secondary">Our Process</span>
                        </div>
                    </div> -->
                <!-- </a>
            </div> -->
            <!-- /.carousel-item -->
            <!-- <div class="carousel-item">
                <a href="https://bootstrapcreative.com/">
                    <picture>
                        <source srcset="https://shivayblog.files.wordpress.com/2017/06/s1.jpg"
                            media="(min-width: 1400px)">
                        <source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
                        <img srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image"
                            class="d-block img-fluid">
                    </picture> -->
                    <!-- 
                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>Performance Optimization</h2>
                            <p>We monitor and optimize your site's long-term performance</p>
                            <span class="btn btn-sm btn-secondary">Learn How</span>
                        </div>
                    </div> -->
                <!-- </a>
            </div> -->
            <!-- /.carousel-item -->
        <!-- </div> -->
        <!-- /.carousel-inner -->
        <!-- <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->
    <!-- /.carousel -->


    <!-- <h1>ॐ नमः शिवाय</h1>
              <p class="lead text-muted">शिवा के बीना सब शब है |</p>
              <p>
                  <a href="#" class="btn btn-secondary my-2">Learn More</a>
              </p>   -->
    <!-- </div> -->
    <!-- </section> -->

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <!-- <ul class="list-group" *ngFor="let item of shivStutieObj; index as i">
                    <li class="list-group-item" (click)="listItemClick(i)">{{item.listkey}}

                    </li>
                </ul> -->
                <div class="col-md-4" *ngFor="let item of homeMenuList; index as i">
                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">                         
                            <img src="https://shivayblog.files.wordpress.com/2017/06/s1.jpg" class="card-img-top"
                                alt="OmNamahShivay">
                            <div class="card-body">
                                <h5 class="card-title">{{item.homeMenuName}}</h5>
                                <p class="card-text">{{item.homeMenuDesc}}</p>
                            </div>
                            <div class="card-footer">                                
                                <h6 class="card-link" (click)="homeMenuItemClick(item.homeMenuId)" >See more</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>OmNamahShivay.in &copy; 2020 Shivay Group</p>
    </div>
</footer>